@mixin flex-direction-justify-align($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin media-query($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
